body{
  background-color: #276baa;
  display: flex;
  margin: 0;
}
header{
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0px 5px 20px rgb(51, 51, 51);
  
  width: 100%;
  height: 10vh;
}
header img{
 height: 50px;
 width: 100%;
}
.menu1, .menu1 a {
text-decoration: none;
color: #000;
font-size: 30px;
width: 40%;
display: flex;
justify-content: space-around;
align-items: center;
}
/**/
*,
*:before,
*:after {
margin: 0;
padding: 0;
box-sizing: border-box;
}


footer, footer a {
width: 100%;
border-radius: 5px;
  height: 7vh;
  background-color: #fff;
  text-decoration: none;
  position: fixed;
  bottom: 0;
  text-decoration: none;
  color: #276baa;
  display: flex;
  justify-content: space-around;
}
.menu {
background: #fff;
border-radius: 50%;
width: 60px;
height: 60px;
position: fixed;
bottom: 25px;
right: 25px;
}

.hamburguer {
position: relative;
display: block;
background: #000;
width: 30px;
height: 2px;
top: 29px;
left: 15px;
transition: 0.5s ease-in-out;
}

.hamburguer:before,
.hamburguer:after {
background: #000;
content: '';
display: block;
width: 100%;
height: 100%;
position: absolute;
transition: 0.5s ease-in-out;
}

.hamburguer:before {
top: -10px;
}

.hamburguer:after {
bottom: -10px;
}

input {
display: none;
}
input:checked ~ ul{
  opacity: 1;
}
input:checked ~ label .menu{
  box-shadow: 0 0 0 130vw #fff, 0 0 0 130vw #fff;
}
input:checked ~ label .hamburguer {
transform: rotate(45deg);
}

input:checked ~ label .hamburguer:before {
transform: rotate(90deg);
top: 0;
}

input:checked ~ label .hamburguer:after {
transform: rotate(90deg);
bottom: 0;
}
ul{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  opacity: 0;
}
menuH a{
  display: block;
  margin-bottom: 40px;
  color: #276baa;
  font-size: 47px;
  text-decoration: n;
}
@media screen and (max-width:1024px) {
  .menu1 {
      display: none;
  }
  .menuH {
      display: block;
  }
  .menuH:hover ~ .menuHB, .menuHB:hover {
transform: translateY(10vh);
  }
  .linkMenu {
      list-style: circle;
      font-size: 24px;
      color: #000000;
  }
}
