body{
  width: 100%;
  height: 100vh;
  background-color: #276baa;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0;
}
header{
  width: 100%;
  height: 10vh;
  background-color: #ffffff;
  box-shadow: 0px 5px 20px rgba(68, 66, 66, 0.5);
  display: flex;
  justify-content: center;
}
.nav-bar{
  width: 90%;
  height: 100%;
  justify-content: space-between;
  display: flex;
}
header img{
  height: 10vh;
}
.linkMenu{
  text-decoration: none;
  color: #276baa;
  font-size: 1.5vw;
  display: flex;
  align-items: center;
}
.menuPadrao{
  width: 50%;
  display: flex;
  justify-content: space-between;

}
.menuHamburguer {
  display: none;
}

#buscarProdutos-form{
  display: flex;
  align-items: center;
  justify-content: center;
}

#buscarProdutos-input{
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 20px;
}
.card{
  border-radius: 2px;
  border-color: #000000;
  border-style: solid;
  font-size: 19px;
  width: 200px;
  height: 20vh;
}
.card img{
  width: 100%;
  height: 20%;
}
.card button{
  width: 100%;
  bottom: 0;
  border-radius: 2px;
}
.sobreSite{
  display: flex;
  margin: 20px;
  flex-direction: row;
  justify-content: space-around;
}
.sobreSite-2{
  display: flex;
  margin: 20px;
  flex-direction: row;
  justify-content: space-around;
}
.center-line{
  color: #fff;
  width: 100%;
  border: none;
  border-top: 1px solid #ffffff;
}
#btnPesquisa{
  padding: 8px 10px;
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}
footer img{
  height: 6vh;
}
footer{
  background-color: #ffffff;
  bottom: 0;
  width: 100%;
  height: 7vh;
  position: fixed;
}
