/*variaveis de cor*/
:root{
    --color-white : #fff;
    --color-pink: #d7b8e7;
    --color-red: #e63636;
    --color-dark1: #181818;
    --color-dark2: #1e1e1e;
    --color-purple1: #9333FF;
    --color-purple2: indigo;
}
body {
    height: 100vh;
    width: 100%;
    display: flex;
    margin: 0;
    padding: 0;
    background-color: var(--color-pink);
    font-family: sans-serif, serif, Arial;
    font-size: 20px;
}
.content{
    background-color: var(--color-dark1); 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 100%;
}
/*removendo o foco das input*/
textarea:focus,
input:focus,
select:focus {
    outline: 0;
}
/*removendo a borda das input*/
input{
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 3px;
}
/*esta é a estilização do cadastro/login*/

#nav-bar {
    width: 100%;
}

header {
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: space-around;
    background-color: #fff;
}


.linkMenu {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.658);
    display: flex;
    justify-items: center;
    align-items: center;
}

.linkMenu:hover {
    color: #13111194;
    transition: 0.5s;
    transform: rotateY(20deg);
}

.produtos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    height: 30vh;
    background: #fff;
    flex-wrap: wrap;
    border-radius: 10px;
    box-shadow: 2px 2px 40px #000;
}

p {
    display: flex;
    justify-content: space-around;
    position: fixed;
    margin: 0;
    bottom: 1;
    color: #000;
}

img {
    height: 19vh;
    width: 150px;
}

.menu-toggle {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    cursor: pointer;
    padding: 10px;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 3px 0;
    transition: 0.4s;
}

/* Adicione um estilo para animar a transformação do botão */
.menu-open .bar:nth-child(1) {
    transform: translateY(8px) rotate(-40deg);
}

.menu-open .bar:nth-child(2) {
    opacity: 0;
    /* a linha do meio some*/
}

.menu-open .bar:nth-child(3) {
    transform: translateY(-9px) rotate(40deg);
}
/*deta linha ate a linha 156 é estilização da página "Silicitar autorizações"*/
#motivo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}
.form{
height: 50%;
display: flex;
flex-direction: column;
}
#formAutorizacao{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center; 
}
#mtv{
   resize: none;
}
select{
    height: 100px;
}
#enviarForm{
    background-color: rgba(0, 0, 0, 0.185);
    color: #030303;
    border: none;
    cursor: pointer;
}
#enviarForm:hover{
background-color: #ffffff48;
transition: 0.5s;
}
#cadastrar-me{
    display: none;
}

footer {
    display: flex;
    justify-items: center;
    align-items: center;
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 30vh;
    background-color: #fff;
}

@media screen and (max-width: 768px) {
    .linkMenu {
        font-size: 16px;
    }
}

@media screen and (max-width: 768px) {
    .linkMenu {
        display: none;
    }

    ul,
    li {
        display: none;
    }
}

@media screen and (width:1024px) {
    img {
        height: 14vh;
        width: 100px;
    }
}

@media screen and (width:232px) {
    img {
        display: flex;
        flex-direction: column;
        height: 5vh;
        width: 50px;
    }

    .produtos {
        height: 70vh;
    }
}

@media screen and (height:1000px) {
    img {
        display: flex;
        flex-direction: column;
    }
}