body{
    background-color: #000;
    display: flex;
    margin: 0;
    font-family: sans-serif;
    color: #fff;
}
header h1{
    font-size:12pt;
    color: #fff;
    background-color: #1BA1E2;
    padding: 20px;
    
    }
    article
    {
    width: 80%;
    margin:auto;
    margin-top:10px;
    }
    
    .thumbnail{
    
    height: 100px;
    margin: 10px;
    }
    #perfil{
        display: flex;
        flex-direction: column;
    }