body{
    background-color: #276baa; 
    display: flex; 
    font: normal 20pt;
    font-family: sans-serif;
}
section{
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #000;
    width: 500px;
    text-align: center;
    align-items: center;
}
footer{
    background-color: #fff;
    width: 300px;
    height: 5vh;
    position: fixed;
    bottom: 0;
    right: 50%;
    border-radius: 5px;
    align-items: center;
    display: flex;
    justify-content: center;
}