body {
    background-color: #276baa;
    text-align: center;
    max-width: 1300px;
    margin: auto;
    font-family: 'PT Sans Narrow', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

div#fotosResultado,
img {
    text-align: center;
    max-width: 1300px;
    margin: auto;
    font-family: 'PT Sans Narrow', sans-serif;
    border-radius: 10px;
    size: 100%;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
    margin: 10px;
}

img {
    size: 100%;
}

img.imagem_pedra,
img.imagem_papel,
img.imagem_tesoura {
    cursor: pointer;
    border-radius: 10px;
}

h1 {
    font-size: 30px;
}

div#fotoUsuario,
img#fotoComputador {
    margin: 5px;
    flex-grow: 1;
    flex-basis: auto;
}

#ganhador {
   margin-right: 10px;
    font-size: 25px;
    color: rgb(198, 219, 77);
    display: flex;
    justify-content: center;
    margin: 0px;
    align-items: center;
    
    
}

.botoes {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
}

#botaoJogada,
#botaoResetar {

    margin-left: 10px;
    width: 300px;
    font-family: arial;
    font-weight: bolder;
    color: #fff !important;
    font-size: 18px;
    border-radius: 10px;
    border: 0.5px solid #000;
    background-color: #329c73;
    cursor: pointer;
    -moz-border-radius: 10px;
    transition: 0.5s;
}

#botaoJogada:hover {
    color: #fff !important;
    background-color: rgb(20, 220, 93);
    transition: 0.5s;
}

#botaoResetar:hover {
    color: #fff !important;
    background-color: rgb(197, 30, 30);
    transition: 0.5s;
}

.pontosMaquina {
    display: flex;
    justify-content: flex-start;
}

.pontosUsuario {
    display: flex;
    justify-content: flex-start;
}
@media screen and (max-width:1024px) {
 img{
    width: 100px;
 }   
 @media screen and (max-width:500px) {
    img{
        width: 100px;
        display: flex;
        flex-direction: column;
    }
    button{
        width: 10px;
    }
 }
 #botaoJogada,
#botaoResetar {

    margin-left: 10px;
    width: 100px;
    font-family: arial;
    font-weight: bolder;
    color: #fff !important;
    font-size: 18px;
    border-radius: 10px;
    border: 0.5px solid #000;
    background-color: #329c73;
    cursor: pointer;
    -moz-border-radius: 10px;
    transition: 0.5s;
}
}